.list {
  // width: 25vw;
  min-width: 22vw;
  // max-width: 600px;

  &__header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 16px;
    padding-block: 8px;
    border-bottom: 2px solid var(--clr-ui-seperator);
    color: var(--clr-text);
    margin-bottom: 16px;

    input {
      font-size: var(--font-size-h4);
      background-color: inherit;
      border: none;
    }

    button {
      background-color: var(--clr-canvas-bg);
      border: none;
      color: var(--clr-text);
    }
  }

  .deleteBtn {
    &:hover {
      color: var(--clr-red);
    }
  }

  ul {
    display: grid;
    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  li {
    list-style: none;
  }

  &__addCardBtn {
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    border: 1px dashed var(--clr-text);
    border-radius: var(--border-radius-btn);
    svg {
      margin-inline: auto;
    }
  }
}
