.boardItem {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--clr-ui-seperator);
  border-radius: var(--border-radius-btn);
  padding: 8px;
  color: var(--clr-text-faded);

  input {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: var(--font-size-para);
  }

  .deleteIcon:hover {
    color: var(--clr-red);
    cursor: pointer;
  }
  .icon {
    path {
      pointer-events: none;
    }
  }
}

.boardItemActive {
  border-color: var(--clr-accent);
  color: var(--clr-accent);
  background-color: var(--clr-blue-hi);
}
