.boardList {
  display: grid;
  gap: 16px;
  &__heading {
    color: var(--clr-text-faded);
  }
  &__headingGroup {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  ul {
    display: grid;
    gap: 16px;
    align-content: baseline;
    height: 50vh;
    overflow: scroll;
  }
}

.createNewBoardBtn {
  background-color: var(--clr-accent);
  color: var(--clr-ui-bg);
  border: 1px solid var(--clr-accent);
  border-radius: 4px;
}
