.canvas {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 23vw);
  gap: 32px;
  background-color: var(--clr-canvas-bg);
  border-bottom-right-radius: 16px;
  padding: 24px;
  overflow: scroll;
}
