.canvas {
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
  background-color: var(--clr-canvas-bg);
  border-bottom-right-radius: 16px;
  padding: 32px;
  // padding-top: 32px;
  // padding-left: 32px;
  overflow: scroll;
}
